:root {
  --main-font: "Inter", sans-serif;
  --primary-color: #bd8b00;
  --secondary-color: #FEC110;
  --font-color-light: #7c7c7c;
  --font-color-dark: #1d1d1d;
}


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--main-font);
}

