:root {
  /* Fuentes */
  --main-font: "Inter", sans-serif;

  /* Colores Universidad de Cartagena */
  --uc-blue-dark: #4B317A;    /* C:85 M:100 Y:17 K:5 */
  --uc-teal: #66AD9E;         /* C:76 M:9 Y:46 K:0 */
  --uc-yellow: #F2BA19;       /* C:5 M:27 Y:90 K:0 */
  --uc-orange: #F3912B;       /* C:1 M:48 Y:89 K:0 */
  --uc-red: #ff3042;          /* C:0 M:81 Y:74 K:0 */
  --uc-navy: #0B142F;         /* C:100 M:93 Y:39 K:54 */
  --uc-blue-dark-pastel: #4b317ac2; /* Morado suave */
  --uc-teal-pastel: rgba(178, 215, 206, 0.815);      /* Menta / Verde agua suave */
  --uc-yellow-pastel: #F9E28C;    /* Amarillo crema */
  --uc-orange-pastel: #F9C896;    /* Melocotón / Naranja claro */
  --uc-red-pastel: rgba(255, 152, 162, 0.836);       /* Coral / Rosado suave */
  --uc-navy-pastel: #0b142fd0;      /* Azul lavanda / Grisáceo */

  --font-color-light: #7c7c7c;
  --font-color-dark: #1d1d1d;
}


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--main-font);
}

